* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.conteynir {
  width: 100%;
}
header .conteynir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 9%;
  background-color: #1d242d;
  color: #cfd6e1;
}
header .email i {
  margin: 0 10px;
  cursor: pointer;
}
header .email i span {
  margin: 0px 5px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header .email i .sp {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}
header .iconka i {
  margin: 0px 5px;
  cursor: pointer;
}
nav .conteynir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 9%;
  height: 85px;
  /* border: 1px solid red; */
}
nav .conteynir .logo h1 {
  font-size: 45px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #59ab6e;
}

nav .conteynir .menu {
  margin-top: 15px;
}
nav .conteynir .menu ul li {
  display: inline-block;
  margin: 0 40px;
}
nav .conteynir .menu ul li a {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 200;
  color: #212934;
  position: relative;
}
nav .conteynir .menu ul li a::before {
  content: " ";
  top: 100%;
  left: 0%;
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #1d242d;
  transition: all 0.5s linear;
}
nav .conteynir .menu ul li a:hover::before {
  width: 100%;
}
nav .conteynir .user {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
}
nav .conteynir .user .bars {
  display: none;
}
nav .conteynir .user i {
  margin: 0 7px;
  color: #212934;
  cursor: pointer;
}
@media (max-width: 890px) {
  nav .conteynir .menu ul li {
    margin: 0 25px;
  }
}
@media (max-width: 740px) {
  nav .conteynir .menu ul li {
    margin: 0 15px;
  }
}
@media (max-width: 640px) {
  nav .conteynir .menu {
    display: none;
  }
  nav .conteynir .user .bars {
    display: block;
  }
  header .iconka {
    display: none;
  }
  header .email {
    margin: auto;
  }
}
@media (max-width: 415px) {
  header .email i {
    margin: 0 5px;
    cursor: pointer;
    font-size: 13px;
  }
}
@media (max-width: 380px) {
  header .conteynir {
    padding: 10px 0%;
  }
  nav .conteynir {
    padding: 10px 5%;
    height: 85px;
  }
  nav .conteynir .logo h1 {
    font-size: 35px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #59ab6e;
  }
}
.login-box {
  position: absolute;
  top: -50%;
  left: 50%;
  position: fixed;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #1d242d;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 1000;
}
.login-box.active {
  transition: all 0.5s linear;
  top: 60%;
}
.login-box.show {
  transition: all 0.5s linear;
  top: -60%;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
@media (max-width: 420px) {
  .login-box {
    position: absolute;
    top: -50%;
    left: 50%;
    position: fixed;
    width: 290px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: #1d242d;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 1000;
  }
}
.about .conteynir h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about .conteynir p {
  text-align: center;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.about .conteynir .about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 9% 0px 9%;
}
.about .conteynir .about-box .about-box-btn .about-box1 {
  margin-top: 20px;
  width: 270px;
  height: 270px;
}
.about .conteynir .about-box .about-box-btn .about-box1 img {
  width: 100%;
  border-radius: 50%;
}
.about .conteynir .about-box .about-box-btn {
  /* border: 1px solid red; */
  margin-top: 50px;
  width: 275px;
  height: 400px;
}
.about .conteynir .about-box .about-box-btn h3 {
  text-align: center;
  margin-top: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about .conteynir .about-box .about-box-btn button {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  background-color: #59ab6e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f0f0ff;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #59ab6e;
}
.about .conteynir .about-box .about-box-btn button:hover {
  background-color: #f0f0f0;
  color: #59ab6e;
  border: 1px solid #59ab6e;
  transition: all 0.5s linear;
  box-shadow: 0px 4px 8px #59ab6e;
}
@media (max-width: 420px) {
  .about .conteynir h1 {
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
  }
  .about .conteynir p {
    text-align: center;
    font-weight: 400;

    font-size: 16px;
  }
  .about .conteynir .about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9%;
    /* border: 1px solid #59ab6e; */
  }
  .about .conteynir .about-box .about-box-btn {
    /* border: 1px solid red; */
    /* margin-top: 50px; */
    margin: 21px auto;
    width: 275px;
    height: 380px;
  }
}
.shopp .conteynir {
  width: 100%;
  /* height: 120vh; */
  background-color: #f0f0f0;
}
.shopp .conteynir h1 {
  padding-top: 60px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.shopp .conteynir p {
  text-align: center;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.shopp .conteynir .shopo-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6% 70px 6%;
  margin-top: 30px;
}
.shopp .conteynir .shopo-box .shopp-text {
  width: 370px;
  margin-top: 20px;
  height: 500px;
  background-color: #fff;
  /* border: 1px solid red; */
  border-radius: 5px;
}
.shopp .conteynir .shopo-box .shopp-text .shopp-img {
  width: 370px;
  height: 300px;
}
.shopp .conteynir .shopo-box .shopp-text .shopp-img img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.shopp .conteynir .shopo-box .shopp-text .iconka {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 0px 5%;
  margin-top: -20px;
}
.shopp .conteynir .shopo-box .shopp-text .iconka div i {
  /* margin-top: 5px; */
  color: #ffc107b4;
  cursor: pointer;
  margin: 5px 2px 0px 2px;
}
.shopp .conteynir .shopo-box .shopp-text .iconka div p {
  color: #1d242da1;
}
.shopp .conteynir .shopo-box .shopp-text h3 {
  font-size: 30px;
  font-weight: 400;
  color: #1d242d;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.shopp .conteynir .shopo-box .shopp-text span {
  margin-left: 10px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.shopp .conteynir .shopo-box .shopp-text h4 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 17px;
  color: #1d242d9d;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (max-width: 420px) {
  .shopp .conteynir {
    width: 100%;
  }
  .shopp .conteynir h1 {
    padding-top: 40px;
    margin-bottom: 8px;
    font-size: 35px;
  }
  .shopp .conteynir p {
    font-size: 17px;
    padding: 0px 10px;
  }
  .shopp .conteynir .shopo-box .shopp-text {
    width: 300px;
    margin: 20px auto;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
  }
  .shopp .conteynir .shopo-box .shopp-text .shopp-img {
    width: 300px;
    height: 300px;
  }
  .shopp .conteynir .shopo-box .shopp-text .iconka {
    margin-top: -60px;
  }
  .shopp .conteynir .shopo-box .shopp-text h3 {
    font-size: 22px;
    margin: 10px 0px 10px 10px;
  }
  .shopp .conteynir .shopo-box .shopp-text span {
    margin-left: 10px;
    font-size: 17px;
  }
}
